In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [14]:
import src.config as config
from src.inference import (
    get_feature_store
)

from datetime import datetime, timezone, timedelta

def get_current_utc_hour_ceiled():
    """Get current UTC time ceiled to the next hour"""
    current = datetime.now(timezone.utc)
    if current.minute > 0 or current.second > 0:
        # Ceil to next hour
        current = current + timedelta(hours=1)

    # Reset minutes, seconds, and microseconds
    current = current.replace(minute=0, second=0, microsecond=0)
    return current

# Usage
current_hour = get_current_utc_hour_ceiled()
print(f"Current UTC hour (ceiled): {current_hour}")

Current UTC hour (ceiled): 2025-03-04 05:00:00+00:00

In [4]:
fs = get_feature_store()
fg = fs.get_feature_group(
    name=config.FEATURE_GROUP_MODEL_PREDICTION,
    version=1
)

query = fg.select_all()
df= query.read(read_options={"arrow_flight_config": {"timeout": 600}})

2025-03-03 22:10:20,771 INFO: Initializing external client
2025-03-03 22:10:20,771 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 22:10:21,961 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214680
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.27s)

In [5]:
df

     pickup_location_id  predicted_demand               pickup_hour
0                    28               0.0 2025-03-04 01:00:00+00:00
1                   128               0.0 2025-03-04 01:00:00+00:00
2                     7               2.0 2025-03-04 01:00:00+00:00
3                   130               1.0 2025-03-04 01:00:00+00:00
4                    19               0.0 2025-03-04 01:00:00+00:00
..                  ...               ...                       ...
246                 181               2.0 2025-03-04 01:00:00+00:00
247                 225               1.0 2025-03-04 01:00:00+00:00
248                 146               1.0 2025-03-04 01:00:00+00:00
249                  16               0.0 2025-03-04 01:00:00+00:00
250                 249             116.0 2025-03-04 01:00:00+00:00

[251 rows x 3 columns]

In [15]:
fs = get_feature_store()
fg = fs.get_feature_group(name=config.FEATURE_GROUP_MODEL_PREDICTION, version=1)

2025-03-03 23:14:16,266 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-03-03 23:14:16,285 INFO: Initializing external client
2025-03-03 23:14:16,286 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-03 23:14:17,199 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214680

In [16]:
df = fg.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.60s)

In [17]:
df

     pickup_location_id  predicted_demand               pickup_hour
0                    28               0.0 2025-03-04 01:00:00+00:00
1                   128               0.0 2025-03-04 01:00:00+00:00
2                     7               2.0 2025-03-04 01:00:00+00:00
3                   130               1.0 2025-03-04 01:00:00+00:00
4                    19               0.0 2025-03-04 01:00:00+00:00
..                  ...               ...                       ...
497                 117               0.0 2025-03-04 05:00:00+00:00
498                  73               0.0 2025-03-04 05:00:00+00:00
499                 174               0.0 2025-03-04 05:00:00+00:00
500                 258               0.0 2025-03-04 05:00:00+00:00
501                 224               6.0 2025-03-04 05:00:00+00:00

[502 rows x 3 columns]

In [18]:
df["pickup_hour"].max()

Timestamp('2025-03-04 05:00:00+0000', tz='Etc/UTC')

In [19]:
now = datetime.now(timezone.utc)
next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0)
print(next_hour)

2025-03-04 05:00:00+00:00

In [20]:
df[df["pickup_hour"] == next_hour]

     pickup_location_id  predicted_demand               pickup_hour
251                  61               1.0 2025-03-04 05:00:00+00:00
252                 120               0.0 2025-03-04 05:00:00+00:00
253                  90              70.0 2025-03-04 05:00:00+00:00
254                  33               3.0 2025-03-04 05:00:00+00:00
255                  32               0.0 2025-03-04 05:00:00+00:00
..                  ...               ...                       ...
497                 117               0.0 2025-03-04 05:00:00+00:00
498                  73               0.0 2025-03-04 05:00:00+00:00
499                 174               0.0 2025-03-04 05:00:00+00:00
500                 258               0.0 2025-03-04 05:00:00+00:00
501                 224               6.0 2025-03-04 05:00:00+00:00

[251 rows x 3 columns]